<div class="accordion js-accordion">
	<div class="accordion__item">
		<div class="accordion__title">What you could go on to do</div>
		<div class="accordion__content">
			<h5>Augue mauris augue neque gravida in fermentum et sollicitudin. </h5>
			<p>Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Et molestie ac feugiat sed lectus. Mi bibendum neque egestas congue quisque egestas diam in. Magna etiam tempor orci eu lobortis elementum. Adipiscing elit ut aliquam purus sit amet luctus venenatis. Libero volutpat sed cras ornare arcu dui vivamus arcu felis. Amet tellus cras adipiscing enim eu turpis egestas pretium. Elit at imperdiet dui accumsan sit amet. Rutrum tellus pellentesque eu tincidunt.</p>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__title">What you could go on to do</div>
		<div class="accordion__content">
			<h5>Augue mauris augue neque gravida in fermentum et sollicitudin. </h5>
			<p>Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Et molestie ac feugiat sed lectus. Mi bibendum neque egestas congue quisque egestas diam in. Magna etiam tempor orci eu lobortis elementum. Adipiscing elit ut aliquam purus sit amet luctus venenatis. Libero volutpat sed cras ornare arcu dui vivamus arcu felis. Amet tellus cras adipiscing enim eu turpis egestas pretium. Elit at imperdiet dui accumsan sit amet. Rutrum tellus pellentesque eu tincidunt.</p>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__title">What you could go on to do</div>
		<div class="accordion__content">
			<h5>Augue mauris augue neque gravida in fermentum et sollicitudin. </h5>
			<p>Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Et molestie ac feugiat sed lectus. Mi bibendum neque egestas congue quisque egestas diam in. Magna etiam tempor orci eu lobortis elementum. Adipiscing elit ut aliquam purus sit amet luctus venenatis. Libero volutpat sed cras ornare arcu dui vivamus arcu felis. Amet tellus cras adipiscing enim eu turpis egestas pretium. Elit at imperdiet dui accumsan sit amet. Rutrum tellus pellentesque eu tincidunt.</p>
		</div>
	</div>
</div>
